.contenedor-inicial-derecho{
    background-image: url('./Images/grecia.jpg');
    background-size: cover;
    background-position: center;    
    width: 100%;
    height: 100vh;
}

.temaDerecho {
    max-width: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #000000;
    display: flex;
    justify-content: center;
}


.introduccionDerecho {
    max-width: 50%;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.7);
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}


.button-container-der{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

  
/* Estilos para PC */

@media (max-width: 1850px) {
    .btn-der img{
      width: 240px;
      height: 90px;
    }
  }
  
  
  /**
  Estilos para portatil
  */
  @media (max-width: 1600px) {
    .temaDerecho img{
      width: 350px;
      height: 110px;  
    }
  }
  
  /* Estilos para celular o tablet */
  
  @media (max-width: 660px) {
  
    .temaDerecho img{
      width: 320px;
      height: 80px;  
    }
  
    /* .contenedor-inicial-derecho{
    height: 100% !important;
    }
   */
    .btn-der img{
      width: 150px;
      height: 60px;
    }
  }