.contenedor-inicial{
    background-image: url('./Images/acropolis.jpg');
    width: 100;
    height: 100vh;
    background-size: cover;
    background-position: center;    
}

.navbar {
    background-color: #E07A5F;
    padding: "10px";
}
.navbarList {
    list-style: none;
    display: flex;
    /* align-items: flex-end; */
    margin-left: 1200px;
}

.navbarItem{
    align-items: flex-end;
}

.navbarName {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.navbarSecond {
    background-color: #F2CC8F;
    padding: "10px";
}
.navbarListSecond {
    list-style: none;
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.navbarItemSecond{
    margin: 0 30px;
    align-items: flex-start;
}

.navbarLinkSecond {
    text-decoration: none;
    color: #242121;
    font-size: 20px;
}

.tema {
    background-color: rgba(101, 104, 104);  
    width: 38vh;
    height: 6vh;
    text-align: center;
    color: #fffcfc;
    font-size: 20px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.introduccion::before {
    content: "En términos generales, tanto hombres como mujeres griegas vestían túnicas largas y sueltas, hechas de telas livianas y fluidas. Estas túnicas se conocían como 'quitos' para los hombres y 'peplo' para las mujeres. El quitos masculino era una prenda recta y sin mangas que llegaba hasta las rodillas o los tobillos. Por otro lado, el peplo femenino era más complejo y consistía en una tela rectangular que se envolvía alrededor del cuerpo y se sujetaba en el hombro con alfileres o broches.";
}

.introduccion {
    background-color: rgba(217, 217, 217, 0.7);   
    width: 100vh;
    height: 30vh;
    text-align: center;
    color: #000000;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 180px;
}