.contenedor-inicial{
    background-image: './Civilización Griega.svg';
    /* background-color: #A6A6A6ff; */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Hind Siliguri';
    text-align: center;
    color: #000;
}
.html,.contenedor-inicial{
    height: 100vh;
}