/* .contenedor-inicial{
    background-image: './Images/Civilización Griega.svg';
    width: 100;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
} */
.html,.contenedor-inicial{
    height: 100vh;
}
.navbar {
    background-color: #E07A5F;
    padding: "10px";
}
.navbarList {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbarItem{
    margin: 0 20px;
}

.navbarLink {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.Image{
    background-image: './Images/Civilización Griega.svg';
    width: 100;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}