.contenedor-inicial{
    background-image: url('./Images/acropolis.jpg');
    width: 100;
    height: 100vh;
    background-size: cover;
    background-position: center;    
}

.navbar {
    background-color: #E07A5F;
    padding: "10px";
}
.navbarList {
    list-style: none;
    display: flex;
    /* align-items: flex-end; */
    margin-left: 1200px;
}

.navbarItem{
    align-items: flex-end;
}

.navbarName {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.navbarSecond {
    background-color: #F2CC8F;
    padding: "10px";
}
.navbarListSecond {
    list-style: none;
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.navbarItemSecond{
    margin: 0 30px;
    align-items: flex-start;
}

.navbarLinkSecond {
    text-decoration: none;
    color: #242121;
    font-size: 20px;
}

.temaDerecho {
    background-color: rgba(101, 104, 104);  
    width: 38vh;
    height: 6vh;
    text-align: center;
    color: #fffcfc;
    font-size: 20px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.introduccionDerecho::before {
    content: "En la antigua Grecia, los derechos y la participación política estaban restringidos a los ciudadanos varones. Las mujeres, los esclavos y los extranjeros no tenían los mismos derechos que los ciudadanos. Aunque se desarrollaron conceptos de democracia y gobierno directo, la democracia ateniense era limitada y excluía a gran parte de la población.";
}

.introduccionDerecho {
    background-color: rgba(217, 217, 217, 0.7);   
    width: 100vh;
    height: 22vh;
    text-align: center;
    color: #000000;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 180px;
}