.contenedor-inicial-principal {
    background-color: #A6A6A6ff;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Hind Siliguri';
    text-align: center;
    color: #000;
}

.html,
.contenedor-inicial-principal {
    height: 100vh;
}

.video {
    height: 0 auto;
}

.navbar {
    background-color: "#E07A5F";
    padding: 10px;
}


.navbar2 {
    background-color:  rgb(226, 191, 115);
    padding: 10px;
}


.navbarList {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0px;
    padding: 0px;
}


.navbarItem {
    margin: 0 30px;
    list-style-type: none;
    align-items: center;
}


.navbarLink {
    color: #6b510a;
    font-size: 16px;
}


.navbarLink2 {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}


.navbarList2 {
    display: flex;
    margin-left: 80vmax;
    padding: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    height: 0;
}
  
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}