.titulo-lecciones {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.botones-lecciones {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px; 
  gap: 20px;
  margin-top: 30px;
}

.carousel-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  
  .carousel {
    width: 50%;
    margin: 0 auto;
  }
  
  .carousel .card {
    height: auto /* Ajusta la altura del cuerpo de la tarjeta según tus necesidades */
  }
  
  .carousel .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #bb7154;
  }

  .carousel .card-text {
    margin-left: 10%;
  }

  .carousel .carousel-control-prev-icon,
  .carousel .carousel-control-next-icon {
  filter: invert(100%); /* Invierte el color de las flechas */
  }

@media (max-width: 1850px) {

  }
  
  
  /**
  Estilos para portatil
  */
  @media (max-width: 1600px) {

  }
  
  /* Estilos para celular o tablet */
  
  @media (max-width: 660px) {
  

  
  }