.contenedor-inicial{
    background-image: url('./Images/grecia.jpg');
    background-size: cover;
    background-position: center;    
    width: 100%;
    height: 100vh;           
}


.temaMitologia {
    max-width: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #000000;
    display: flex;
    justify-content: center;
}

.introduccionMitologia {
    max-width: 50%;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.7);
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}


.button-container-mito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.custom-button {
    display: flex;
    align-items: center;
  }
    
.custom-button img {
    margin-right: 5px; /* Ajusta el margen entre la imagen y el texto */
    max-width: 0 auto;
    height: auto;
}

.button-mito {
    font-size: 16px;
    padding: 0 auto;
}
  
  /* Estilos para dispositivos móviles */
@media (max-width: 200px) {
    .button-mito  {
      font-size: 14px;
    }
}