body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbarLink3Temas{
  text-decoration: none;
  color: #bb7154;
  font-size: 16px;
}

.navbarPrincipal {
  background-color:  rgb(226, 146, 115);
  padding: 10px;
}


.navbar2Principal {
  background-color:  rgb(224, 188, 109);
  padding: 10px;
}


.navbarListPrincipal {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 0px;
  padding: 0px;
}


.navbarItemPrincipal {
  margin: 0 30px;
  list-style-type: none;
  align-items: center;
}


.navbarLinkPrincipal {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}


.navbarList2Principal {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
}


.navbar1 {
  background-color: #E07A5F;
  padding: "10px";
}

.navbarList1 {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.navbarItem1{
  margin: 0 30px;
  align-items: flex-start;
}

.navbar-home{
  text-decoration: none;
  color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.userImageContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.userImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-toggle.dropdown-toggle {
  /* Cambiar el fondo del botón */
  background-color: transparent;
  border-color: transparent;
}

.custom-toggle.dropdown-toggle::after {
  /* Cambiar el color de la flecha */
  margin-top: 8px;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}

.custom-toggle.dropdown-toggle:hover {
  /* Cambiar el color de fondo al hacer hover sobre el botón */
  background-color:  rgb(224, 188, 109, 0.7); 
}
.custom-toggle.dropdown-toggle.show {
  /* Cambiar el color de fondo del menú desplegable */
  background-color: rgb(224, 188, 109, 0.7); 
}

.custom-dropdown {
  margin: -7px;
  padding: -7px;
}

.custom-dropdown .custom-menu {
  background-color: rgb(226, 146, 115); 
  width: 800px; /* Ajusta el ancho deseado */
  padding: 0;
}

.custom-dropdown .custom-menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-dropdown .custom-menu .col {
  flex: 0 0 33.33%;
  padding: 0.5rem;
  justify-content: center;
}

.custom-menu h5 {
  text-align: center;
  color: white;
}

.custom-menu li {
  color: white !important;
}

.custom-menu a {
  color: white !important;
}

.custom-menu a:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus necesidades */
}
