.contenedor-inicial-principal{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    padding: 0 auto;
    background-image: url("./images/Grecia.svg");
    background-size: cover;
    height: 90vh;
}
.html,.contenedor-inicial-principal{
    max-width: auto;
    height: 100vh;
}

.custom-button {
  display: flex;
  align-items: center;
}
  
.custom-button img {
  margin-right: 5px; /* Ajusta el margen entre la imagen y el texto */
  max-width: 0 auto;
  height: auto;
}

.button-container {
  display: "flexbox";
  top: 10%;
  position: relative;
}

.button-container2 {
  display: "flexbox";
  top: 10%;
  position: relative;
}

/* Estilos para el botón */
.button {
  font-size: 16px;
  padding: 0 auto;
}

/* Estilos para dispositivos móviles */
@media (max-width: 200px) {
  .button {
    font-size: 14px;
  }
}

.button-container3 {
  display: "flexbox";
  top: 10%;
  position: relative;
}
